:root {
  /* Screen size */
  --vh: 100%;
  /*Color*/
  --primaryColor: #5c6e56;
  --secondaryColor: #94a38e;
  --lightColor: #9cb395;
  --primaryDarkColor: #3e4239;
  --brownColor: #6c5d53;
  --lightbrownColor: #dfd3c3;
  --buttonRedColor: #d47878;
  --dangerColor: #cb5050;
  --lightBackgroundColor: #c7b199;
  --brownBackgroundColor: #9f8473;
  --grayColor: #d9d9d9;
  --darkGrayColor: #8c8c8c;
  --ligintBackground: #d9d9d9;
  --lightGreenColor: #c9d8b7;
}

.App {
  background-color: #ffffdf;
  display: auto;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.Header {
  background-color: #fff59d;
  height: calc(var(--vh, 1vh) * 10);
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
}

.Misa-Face:hover {
  opacity: 0.7;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 90);
}

.Start-Button {
  background-color: #d0e7b6;
  border-radius: 20px;
  border-color: #849376;
  width: 40%;
  height: 10%;
  margin-top: 40px;
  font-family: 'Japanese-Font';
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: #3e2723;
}

.Start-Button:hover {
  opacity: 0.7;
}

.Start-Box {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

.Cake {
  display: flex;
  align-items: flex-end;
}
.Duck-Moving {
  width: 15%;
}
.Duck-Moving img {
  animation: slideAnimation 3s linear infinite;
  /* margin-right: 40%; */
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
