:root {
  /* Screen size */
  --vh: 100%;
  /*Color*/
  --primaryColor: #5c6e56;
  --secondaryColor: #94a38e;
  --lightColor: #9cb395;
  --primaryDarkColor: #3e4239;
  --brownColor: #6c5d53;
  --lightbrownColor: #dfd3c3;
  --buttonRedColor: #d47878;
  --dangerColor: #cb5050;
  --lightBackgroundColor: #c7b199;
  --brownBackgroundColor: #9f8473;
  --grayColor: #d9d9d9;
  --darkGrayColor: #8c8c8c;
  --ligintBackground: #d9d9d9;
  --lightGreenColor: #c9d8b7;
}

.App {
  background-color: #ffffdf;
  display: auto;
  height: calc(var(--vh, 1vh) * 100);
}

.Header {
  background-color: #fff59d;
  height: calc(var(--vh, 1vh) * 10);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
}

.Misa-Face:hover {
  opacity: 0.7;
}
.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 90);
}
