.Landing-page {
  height: calc(var(--vh, 1vh) * 150);
  background-color: #ffffdf;
  display: auto;
  width: 100%;
}

.Landing-Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: calc(var(--vh, 1vh) * 150); */
  height: auto;
  background-color: #ffffdf;
}

.Birthday-Writing {
  width: 90%;
  height: 100%;
}

.Photo-zone {
  height: 100%;
}

.Photo-List {
  width: 90%;
  height: 80%;
  margin-bottom: 5%;
}

.Caruosel-Photo {
  background-color: #b3e5fc;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  border-bottom: 10px;
  border-color: #6dcdfa;
  border-style: solid;
}

.Caruosel-Photo img {
  width: auto;
  height: 250px;
  max-height: 250px;
  margin: auto;
  display: block;
}

.Caruosel-Photo img:hover {
  opacity: 0.7;
}

.Gallery-photo {
  border-radius: 30px;
}

.Our-Memory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35%;
  height: 25%;
  font-size: 40px;
  font-family: 'English-Font';
  border-radius: 25px;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: bisque;
}

.Post-write {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: bisque;
  border-radius: 25px;
  width: 100%;
  height: 15%;
  margin-bottom: 1%;
}

.Letter-List {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  background-color: #b3e5fc;
  border-radius: 25px;
  padding-bottom: 2%;
}

.Letter-Alert {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.Letter-Button {
  display: flex;
  background-color: rgb(226, 175, 113);
  color: black;
  border-color: #0003;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  width: 10%;
  height: 90px;
}

.Letter-Button:hover {
  opacity: 0.7;
}

.Toggle-Button {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  height: 120px;
  border-radius: 20px;
  background-color: #d0e7b6 !important;
  border-color: #0003;
  text-align: left;
  color: #3e2723;
  font-size: 400% !important;
}

.Toggle-Button :hover {
  opacity: 0.7;
}

.Collapse-Box {
  width: 90%;
  height: auto;
  margin-left: 5%;
  border-radius: 20px;
  background-color: #b5e67d;
  text-align: left;
}

.Writing-Form {
  background-image: url('../../../public/images/writing-form.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Writing-Input {
  width: 20%;
  height: 60px;
  font-size: 150%;
  margin-bottom: 8%;
  border-radius: 5px;
}

.Toggle-Update-Button {
  width: 20%;
  height: 80px;
  margin-left: 3%;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.Letter-Error {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  width: 20%;
  font-size: 200% !important;
  /* background-color: '#ff9999' !important; */
}

.Letter-Pass {
  width: 20%;
  font-size: 200% !important;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
